
body {background-color: lightgrey;}

#center {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-15%, -20%);
  cursor: move;
}

#image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  width: 530px;
  height: 303px;
  margin: auto;
}

@media (max-width: 600px) {
  #image {
    width: 100%;
    height: auto;
  }
}
